<h1>Create a new Portfolio Item</h1>
<%= form_for(@portfolio_item) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :subtitle%>
    <%= form.text_field :subtitle %>
  </div>

  <div>
    <%= form.label :body%>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
